.idea/
node_modules/
src/**/*.html
src/**/*.js
src/**/*.js.map
src/**/*.css
src/**/*.css.map
mailsender/**/*.js
mailsender/**/*.js.map
!src/libraries/mdl/material.blue-red.min.css
e2e/*.js
e2e/*.map

#System Files
.DS_Store
Thumbs.db
/public/*.bundle.js
/public/favicon.ico
/public/index.html
/public/*.bundle.map
