main.start(style="margin-left: 33%")
  div.import

    form
      h2.import__title Кому
      input.import__upload(type="text"
                           required
                           )
      br
      h2.letter__title Тело письма
      input.letter__textarea(type="text"
                             required
                             )
      br
      h2.sender__title Тема письма
      input.sender__email-subj(type="text"
                               placeholder="Тема письма"
                               maxlength="150"
                               value="Тестовое письмо"
                               )
      br
      input.sender__send-buttom(type="submit") Разослать
