@import ../var
@import ../import/import.component.sass

//SENDER================================================================================================================
.sender
  @extend .import
  flex-flow: column wrap
  justify-content: flex-start
.sender__title
  @extend .import__title
.sender__recip-number
  margin-bottom: 1rem
.sender__letter-name
  display: block
  width: 80%
  margin-bottom: 1rem
  border: 1px solid $blue2
.sender__email-subject
  @extend .sender__letter-name
.sender__from-name
  @extend .sender__letter-name
.sender__from-address
  @extend .sender__letter-name
.sender__send-buttom
  @extend .import__submit

form
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-content: center
  align-items: center
  width: 50%
