main.sender
  div.sender__title Заполнить оставшиеся поля
  div.sender__recip-number Количество получателей: {{number}}
  form
    button.sender__letter-name__info ?
    input.sender__letter-name(type="text" placeholder="Имя письма" maxlength="100")
    button.sender__email-subj__info ?
    input.sender__email-subj(type="text" placeholder="Тема письма" maxlength="150")
    button.sender__from-name__info ?
    input.sender__from-name(type="text" placeholder="Имя отправителя" maxlength="100")
    button.sender__from-addr__info ?
    input.sender__from-addr(type="email" placeholder="Адрес отправителя")
    button.sender__send-buttom Разослать

