main.sender
  .mdl-card.mdl-shadow--2dp
    .mdl-card__title.mdl-card--border
      h1.mdl-card__title-text Заполнить оставшиеся поля

    form.block-form(action="#")
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#sample1.mdl-textfield__input(type='text')
        label.mdl-textfield__label(for='sample1') Имя письма...
        #tt1.mdl-button.mdl-button--icon.mdl-button--primary
          .icon.material-icons help
          .mdl-tooltip(for='tt1')
            |Макс-ое кол-во символов: 150
            br
            |Оптим-ое кол-во символов: 60

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#sample2.mdl-textfield__input(type='text')
        label.mdl-textfield__label(for='sample2') Тема письма...
        #tt2.mdl-button.mdl-button--icon.mdl-button--primary
          .icon.material-icons help
          .mdl-tooltip(for='tt2')
            | Макс-ое кол-во символов: 150
            br
            | Оптим-ое кол-во символов: 60

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#sample3.mdl-textfield__input(type='text')
        label.mdl-textfield__label(for='sample3') Имя отправителя...
        #tt3.mdl-button.mdl-button--icon.mdl-button--primary
          .icon.material-icons help
          .mdl-tooltip(for='tt3')
            | Макс-ое кол-во символов: 150
            br
            | Оптим-ое кол-во символов: 60

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#sample4.mdl-textfield__input(type='text')
        label.mdl-textfield__label(for='sample4') Адрес отправителя...
        #tt4.mdl-button.mdl-button--icon.mdl-button--primary
          .icon.material-icons help
          .mdl-tooltip(for='tt4')
            | Макс-ое кол-во символов: 150
            br
            | Оптим-ое кол-во символов: 60

      a(href="#")
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
          | Разослать
    .mdl-card__title
      h6.mdl-card__subtitle-text Количество получателей: {{number}}

