main.sender
  div.sender__title Заполнить оставшиеся поля
  div.sender__recip-number Количество получателей:
  form
    input.sender__letter-name(type="text" placeholder="Имя письма")
    input.sender__email-subject(type="text" placeholder="Тема письма")
    input.sender__from-name(type="text" placeholder="Имя отправителя")
    input.sender__from-address(type="email" placeholder="Адрес отправителя")
    input.sender__send-buttom(type="submit")

