md-tab-group
    md-tab(label='Lists')
        h1 Lists
        md-list.md-elevation-z8
            md-list-item(*ngFor="let list of lists") {{list.name}}
    md-tab(label='Templates')
        h1 Templates
        p {{number}}
    md-tab(label='Setting')
        h1 Setting
        p ...
        p ...
        p ...
        p ...
        p ...
    md-tab(label='Summary')
        h1 Summary
        p ...