md-tab-group(alignTabs="center")
    md-tab(label='Lists')
        .lists-container
            md-list
                h2 Списки подписчиков
                md-list-item(*ngFor="let list of lists")
                    md-icon(md-list-avatar) people
                    h4(md-line) {{list.name}}
                    p(md-line) {{list.create}}
                    p(md-line) Кол-во: {{list.subsCount}}
                    md-checkbox([(ngModel)]="list.checked", (change)="changeEvent(list.id)")
                md-list-item
                    p() Суммарно выбрано подписчиков: {{subsCountSum}}
    md-tab(label='Templates')
        .templates-container
            md-card( md-raised-button *ngFor="let template of templates")
                        md-card-title {{template.name}}
                        md-card-content
                            .template-preview
                        md-card-subtitle {{template.create}}
    md-tab(label='Setting')
        h1 Settings
        p ...
    md-tab(label='Summary')
        h1 Summary
        p ...