md-tab-group(alignTabs="center")
    md-tab(label='Lists')
        .lists-container
            h2.tab-title Списки подписчиков
            md-list
                md-list-item(*ngFor="let list of lists")
                    md-icon(md-list-avatar) people
                    h4(md-line) {{list.name}}
                    p(md-line) {{list.create}}
                    p(md-line) Кол-во: {{list.subsCount}}
                    md-checkbox([(ngModel)]="list.checked", (change)="changeEvent(list.id)")
                md-list-item
                    p() Суммарно выбрано подписчиков: {{subsCountSum}}
    md-tab(label='Templates')
        .templates-container
            h2.tab-title Шаблоны
            md-card.template-card(
                                    *ngFor="let template of templates",
                                    (click)="setTemplate(template)",
                                    [class.md-elevation-z12]="template.checked",
                                    )
                        md-card-title {{template.name}}
                        md-card-content
                            .template-preview
                        md-card-subtitle {{template.create}}
    md-tab(label='Setup')
        .setup-container
            h2.tab-title Настройки
            md-input(placeholder="Имя письма", [(ngModel)]="setup.letterName")
            md-input(placeholder="Тема письма", [(ngModel)]="setup.letterSubj")
            md-input(placeholder="Имя отправителя", [(ngModel)]="setup.senderName")
            md-input(placeholder="Адрес отправителя", [(ngModel)]="setup.senderAddr")
    md-tab(label='Summary')
        .summary-container
            h2.tab-title Суммарно
            md-card
                md-card-title Список:
                md-card-content {{lists[0].name}}
                md-card-subtitle (Количество получателей: {{subsCountSum}})
                md-card-title Тема письма:
                md-card-content {{setup.subj}}
                md-card-title Шаблон письма:
                md-card-content {{templates[1].name}}
                md-card-actions
                    button(md-raised-button color="primary") Разослать