md-list-item
  height: auto
  padding: 0.5rem 1rem

md-tab
  display: flex
  justify-content: center

md-card
  margin: 2rem
  max-width: 20vw

.lists-container
  display: flex
  flex-flow: column nowrap
  align-items: center
  align-content: flex-start
  width: 100vw

.templates-container
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: flex-start
  min-height: 50vh
  padding: 2rem

.template-preview
  width: 100px
  height: 150px
  background-color: crimson
  margin: auto
