// V TODO Не срабатывает аттрибут тега "[alignTabs]="center"
md-tab-group(alignTabs="center")
    md-tab(label='Lists')
        h1 Lists
        md-card(*ngFor="let list of lists") {{list.id}} {{list.name}} {{list.subscribers_number}}
    md-tab(label='Templates')
        h1 Templates
        p {{number}}
    md-tab(label='Setting')
        h1 Settings
        p ...
    md-tab(label='Summary')
        h1 Summary
        p ...