.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
    .mdl-tabs__tab-bar
        a.mdl-tabs__tab(href='#lists-panel') Список
        a.mdl-tabs__tab(href='#templates-panel') Письмо
        a.mdl-tabs__tab(href='#settings-panel') Настройки
        a.mdl-tabs__tab(href='#total-panel') Итого
    #lists-panel.mdl-tabs__panel
        .mdl-grid
            table.mdl-data-table.mdl-js-data-table.mdl-cell.mdl-cell--12-col
                thead
                    tr
                        th
                            label.mdl-checkbox.mdl-js-ripple-effect.mdl-js-checkbox('[(class.is-checked)]'="testToggle")
                                input.mdl-checkbox__input(type='checkbox', '[(ngModel)]'="testToggle")
                        th.mdl-data-table__cell--non-numeric Name
                        th Age
                        th ID Number
                tbody
                    tr
                        td
                            label.mdl-checkbox.mdl-js-ripple-effect.mdl-js-checkbox('[(class.is-checked)]'="testToggle")
                                input.mdl-checkbox__input(type='checkbox', '[(ngModel)]'="testToggle")
                        td.mdl-data-table__cell--non-numeric Don Aubrey
                        td 25
                        td 49021
                    tr
                        td
                            label.mdl-checkbox.mdl-js-ripple-effect.mdl-js-checkbox('[(class.is-checked)]'="testToggle")
                                input.mdl-checkbox__input(type='checkbox', '[(ngModel)]'="testToggle")
                        td.mdl-data-table__cell--non-numeric Sophia Carson
                        td 32
                        td 10258
                    tr
                        td
                            label.mdl-checkbox.mdl-js-ripple-effect.mdl-js-checkbox('[(class.is-checked)]'="testToggle")
                                input.mdl-checkbox__input(type='checkbox', '[(ngModel)]'="testToggle")
                        td.mdl-data-table__cell--non-numeric Steve Moreno
                        td 29
                        td 12359
                    tr
                        td
                        td.mdl-data-table__cell--non-numeric {{testToggle}}
                        td 29
                        td: button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent
                            | NEXT

    #templates-panel.mdl-tabs__panel
        .mdl-grid
            .mdl-cell.demo-card-square.mdl-card.mdl-shadow--2dp
                .mdl-card__title.mdl-card--expand
                    h2 Update
                .mdl-card__supporting-text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Aenan convallis.
                .mdl-card__actions.mdl-card--border.mdl-card__actions__btnrght
                    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent
                        | Select
    #settings-panel.mdl-tabs__panel
        .mdl-grid.settings-panel__content__center
            .mdl-cell.demo-card-wide.mdl-card.mdl-shadow--2dp
                .mdl-card__supporting-text.mdl-grid
                    .mdl-textfield.mdl-js-textfield.mdl-cell.mdl-cell--12-col
                        input#user.mdl-textfield__input(type='text', pattern='[A-Z,a-z, ]*')
                        label.mdl-textfield__label(for='user') User name
                        span.mdl-textfield__error Letters and spaces only
                    .mdl-textfield.mdl-js-textfield.mdl-cell.mdl-cell--12-col
                        input#user1.mdl-textfield__input(type='text', pattern='[A-Z,a-z, ]*')
                        label.mdl-textfield__label(for='user1') User name
                        span.mdl-textfield__error Letters and spaces only
                    .mdl-textfield.mdl-js-textfield.mdl-cell.mdl-cell--12-col
                        input#user2.mdl-textfield__input(type='text', pattern='[A-Z,a-z, ]*')
                        label.mdl-textfield__label(for='user2') User name
                        span.mdl-textfield__error Letters and spaces only
                    .mdl-textfield.mdl-js-textfield.mdl-cell.mdl-cell--12-col
                        input#user3.mdl-textfield__input(type='text', pattern='[A-Z,a-z, ]*')
                        label.mdl-textfield__label(for='user3') User name
                        span.mdl-textfield__error Letters and spaces only
                .mdl-card__actions.mdl-card--border.mdl-card__actions__btnrght
                    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent
                        | Select
    #total-panel.mdl-tabs__panel
        .mdl-grid.settings-panel__content__center
            .mdl-cell.demo-card-wide.mdl-card.mdl-shadow--2dp
                .mdl-card__supporting-text.mdl-grid
                    .mdl-cell.mdl-cell--12-col from
                    .mdl-cell.mdl-cell--12-col subject
                    .mdl-cell.mdl-cell--12-col to
                    .mdl-cell.mdl-cell--12-col template
                .mdl-card__actions.mdl-card--border.mdl-card__actions__btnrght
                    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent
                        | Select
        .mdl-card
            .mdl-card__title
                | ...
            .mdl-card__media
                | ...
            .mdl-card__supporting-text
                | ...
            .mdl-card__actions
                | ...

