md-tab-group(alignTabs="center")
    md-tab(label='Lists')
        .lists-container
            h2.tab-title Списки подписчиков
            md-list
                md-list-item(*ngFor="let list of lists")
                    md-icon(md-list-avatar) people
                    h4(md-line) {{list.name}}
                    p(md-line) {{list.create}}
                    p(md-line) Кол-во: {{list.subsCount}}
                    md-checkbox([(ngModel)]="list.checked", (change)="selectList(list._id)")
                md-list-item
                    p() Суммарно выбрано подписчиков: {{subsCountSum}}
    md-tab(label='Templates')
        .templates-container
            h2.tab-title Шаблоны
            md-card.template-card.md-elevation-z4(
                                    *ngFor="let template of templates",
                                    (click)="selectTemplate(template)",
                                    [class.md-elevation-z24]="template.checked",
                                    )
                        md-card-title {{template.name}}
                        md-card-content
                            .template-preview
                        md-card-subtitle {{template.create}}
    md-tab(label='Setup')
        .setup-container
            h2.tab-title Настройки
            md-input(placeholder="Название рассылкки", [(ngModel)]="formData.fields.companyName")
            md-input(placeholder="Тема письма", [(ngModel)]="formData.fields.subject")
            md-input(placeholder="Имя отправителя", [(ngModel)]="formData.fields.fromName")
            md-input(placeholder="Адрес отправителя", [(ngModel)]="formData.fields.fromEmail")
    md-tab(label='Summary')
        .summary-container
            h2.tab-title Суммарно
            md-card.summary-card
                h3 Количество получателей:
                p.summary-content  {{subsCountSum}}
                md-divider
                h3 Список:
                ul: li(*ngFor="let list of lists | campaign:true")
                    p.summary-content {{list.name}}
                md-divider
                h3 Тема письма:
                p.summary-content(*ngIf="formData.fields.subject.length > 0")  "{{formData.fields.subject}}"
                p.summary-content(*ngIf="formData.fields.subject.length === 0")
                    md-icon(color="warn") warning
                    |  Заполните поле!
                md-divider
                h3 Шаблон письма:
                p.summary-content  "{{templates[1].name}}"
                md-card-actions.summary-content__action_center
                    button(md-raised-button color="primary", (click)="checkAndSendData()") СОЗДАТЬ РАССЫЛКУ
                    //button(md-button color="primary") Разослать