nav.nav
  ul.nav__list
    li.nav__item
      a.nav__link_white(routerLink='/import/', routerLinkActive='active')
        span ■  
        span Импорт подписчиков
    li.nav__item
      a.nav__link_white(routerLink='/letter', routerLinkActive='active')
        span ■  
        span Письмо
    li.nav__item
      a.nav__link_white(routerLink='/sender', routerLinkActive='active')
        span ■  
        span Отправка
    hr(style="border: none; border-top: 1px dashed white;")
    li.nav__item
      a.nav__link_white(routerLink='/answers', routerLinkActive='active')
        span ■  
        span Ответы
router-outlet
