@import ../var
@import ../import/import.component.sass

//LETTER================================================================================================================
.letter
  @extend .import
  justify-content: center
  width: 64vw
.letter__title
  @extend .import__title
.letter__description
  @extend .import__description
  text-align: center
.letter__textarea
  margin-bottom: 1rem
  display: block
  width: 40vw
  max-width: 58vw
  height: 30vh
  max-height: 48vh
  border: 1px solid $blue2
.letter__submit
  @extend .import__submit
