main.import
   span.import__title Добавить адреса в базу
   form
       span.import__description Выберете файл формата CSV
       div.import__fileform
           div#fileformlabel {{filename}}
           div.import__select-button Обзор
           input#import.import__upload(type="file"
                                       required
                                       name="upload"
                                       [(ngModel)]="name.value"
                                       accept=".csv"
                                       style="opacity: 0"
                                       )
           //TODO не работает отображение пути до фаила при импорте
       input.import__submit(type="submit")
