doctype html
html.mdc-typography(lang="ru")
  head
    meta(charset='utf-8')
    base(href='/')
    link(rel='icon' type='image/x-icon' href='favicon.ico')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="../node_modules/material-design-lite/material.min.css")
    script(src="../node_modules/material-design-lite/material.min.js")

    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=cyrillic-ext" rel="stylesheet")
    //^TODO загружаемый шрифт Roboto нужно скачать и установить через CSS

    link(rel='stylesheet', href='/styles.css')
    title mailservice
  body
    .mdl-card
      .mdl-card__title
        h2.mdl-card__title-text title Text Goes Here
      .mdl-card__media
        img(src='photo.jpg', width='220', height='140', border='0', alt='', style='padding:20px;')
      .mdl-card__supporting-text
        | This text might describe the photo and provide further information, such as where and
        | when it was taken.
      .mdl-card__actions
        a(href='(URL or function)') Related Action
    header.header
      object.logo(type="image/svg+xml" data="svg/logo.svg" class="logo" style="width: 6%; height: auto; margin-left: 4%;")
      div.header__red-element
      div.header__red-element2
    app-root Loading...
    //footer.footer

