main.answers
  .mdl-card
    div.answers__mail
      div#answer-name.answers__name
        span Первое письмо с длинным названием
      div#answer-delete.answers__delete-mail
      div#answer-counter.answers__counter 999
        object.logo(type="image/svg+xml" data="svg/close-envelope.svg" class="logo"
        style="width: 1.6vmax; height: auto; margin-left: 0.2rem")

  //ДАЛЕЕ ИДУТ ПОВТОРЫ БЛОКА .ANSWER__MAIL ДЛЯ НАГЛЯДНОСТИ//
