main.block-list
  div.mdl-card.mdl-shadow--2dp.block-list__item
    div.mdl-button.mdl-js-button.mdl-button--icon
      i.material-icons delete
    div.mdl-card__title
      h1.mdl-card__title-text Первое письмо с длинным названием
    div.block-list__item__counter 999
      i.material-icons mail_outline
  div.mdl-card.mdl-shadow--2dp.block-list__item
    div.mdl-button.mdl-js-button.mdl-button--icon
      i.material-icons delete
    div.mdl-card__title
      h1.mdl-card__title-text Первое письмо с длинным названием
    div.block-list__item__counter 999
      i.material-icons mail_outline
  div.mdl-card.mdl-shadow--2dp.block-list__item
    div.mdl-button.mdl-js-button.mdl-button--icon
      i.material-icons delete
    div.mdl-card__title
      h1.mdl-card__title-text Первое письмо с длинным названием
    div.block-list__item__counter 999
      i.material-icons mail_outline
  div.mdl-card.mdl-shadow--2dp.block-list__item
    div.mdl-button.mdl-js-button.mdl-button--icon
      i.material-icons delete
    div.mdl-card__title
      h1.mdl-card__title-text Первое письмо с длинным названием
    div.block-list__item__counter 999
      i.material-icons mail_outline

